{% extends "base.html" %}
{% block content %}
<form method="POST">

    <h3 align="center">Rento</h3>
  <div class="form-group">
    <label for="size">Size SQRFT</label>
    <input
      type="number"
      class="form-control"
      id="size"
      min="100" 
      step="1"
      max="10000"
      name="size_sqft"
      placeholder="Enter Floor Size"
    />
  </div>
  <div class="form-group">
    <label for="bedrooms">Bedrooms</label>
    <input
      type="number"
      min="0"
      max="10"
      class="form-control"
      id="bedrooms"
      name="bedrooms"
      placeholder="Enter first name"
    />
  </div>
  <div class="form-group">
    <label for="bathrooms">Bathrooms</label>
    <input
      type="number"
      class="form-control"
      id="bathrooms"
      min="0"
      max="10"
      name="bathrooms"
      placeholder="Enter password"
    />
  </div>
  <label for="exampleFormControlFile2">Choose CITY</label>
        <select name="city">
          {% for cities in cities %}
            <option value="{{ cities }}" SELECTED>{{ cities }}</option>
          {% endfor %}     
        </select>
  <br />
  <button  type="submit" class="btn btn-primary">Find Rent</button>
</form>

<p class="valuez">Predicted Rent is About: ${{ cvalue }} </p>
<p class="valuez">With Accuracy Of: %{{ caccuracy }} </p>



{% endblock %}